* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}
body {
  font-family: "Mulish", sans-serif;
  max-width: 100%;

  overflow-x: hidden;
}
.search {
  display: flex;
}
.search input {
  border: none;
  background: transparent;
}
.search input::placeholder {
  color: #000;
}
.search i {
  margin-top: 3px;
  margin-right: 10px;
  margin-left: 30px;
}

.myNavbar a {
  text-decoration: none;
  margin: 0 30px;
  color: #000;
  font-weight: 400;
}
.myNavbar a.active {
  border-bottom: 3px solid #273e9b;
  padding: 0 5px;
  color: #273e9b;
  font-weight: 700;
}
.navbar {
  background-color: #fff;
  position: fixed;
  width: 100%;
  transition: top 0.7s ease-in-out;
  z-index: 1000;
}

.img-silder {
  background: #000;
  color: #fff;
  padding: 0 130px;
  height: 600px;
}
.header-text {
  text-align: center;
  padding-top: 64px;
}
.header-text h1 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-text p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.myPrev {
  margin-left: -173px;
  margin-top: -59px;
}
.myNext {
  margin-right: -157px;
  margin-top: -50px;
}
.myCarousel img {
  /* height: 603px; */
  object-fit: cover;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}
.mySlide {
  margin-top: 50px;
}
.content-section {
  margin-top: 350px;
  padding: 50px 50px 0 50px;
  text-align: center;
}

.content-section p {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.best-known {
  padding: 100px 150px 20px 150px;
  text-align: center;
}

.best-known h1 {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.best-known p {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.safe {
  border-radius: 12px;
  border: 1px solid #bfbfbf;
  background: #fff;
  padding: 20px;
  text-align: center;
  height: 250px;
}
.safe h1 {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.safe p {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
}
.qualities {
  padding: 50px 100px;
  margin-top: 40px;
}
.soapslider {
  background: #273e9b;
  padding: ;
}
.soapslide img {
  /* position: absolute; */
  margin-top: -308px;
  /* margin-left: 100px; */
  width: 70%;
}
.soapslide-text {
  /* position: absolute; */
  margin-top: -265px;
  /* margin-left: 100px; */
}
.soapslide-text h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 30px;
  padding: 0 30px;
}
.soapslide-text p {
  color: #fff;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
  padding: 0 30px;
}
.soapslide-text button {
  background: #fff;
  color: #273e9b;
  text-align: center;
  font-family: Mulish;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 20px;
  border-radius: 25px;
  border: none;
  margin-left: 30px;
}
.soapslider-inner {
  padding: 20px;
}
.soapslider-inner {
  display: none;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.soapslider-inner.active {
  display: flex;
  opacity: 1;
}
.dot-indicator {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #007bff;
}
.unite-world {
  margin-top: 100px;
  margin-bottom: 100px;
}
.col iframe {
  margin-left: 100px;
}
.unite-world h1 {
  color: #000;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.unite-world p {
  color: #000;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.newsletter {
  background: #eef2ff;
  padding: 30px 100px;
  margin-bottom: 50px;
}
.newsletter-form input[type="email"] {
  border-radius: 6px;
  background: #fff;
  border: none;
  padding: 12px 30px;
  margin-top: 20px;
}
.newsletter-form input[type="button"] {
  border-radius: 6px;
  background: #273e9b;
  border: none;
  color: #fff;
  padding: 12px 20px;
  margin-left: 10px;
}
.newsletter-text p {
  color: #000;
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 136.364% */
}
.newsletter-text span {
  color: #000;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer {
  background: #273e9b;
  padding: 100px;
  color: #fff;
}
.footer-logo p {
  margin-top: 30px;
  color: #fff;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer-logo img {
  width: 100px;
}
.footer-border {
  border-bottom: 1px solid #fff;
  margin-top: 40px;
}
.footer-copyright {
  margin-top: 20px;
}
.page-logo span i {
  font-size: 35px;
  padding: 0 6px;
}
.page-logo {
  float: right;
  justify-content: right;
  display: flex;
}
.footer-copyright p {
  color: #fff;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* ----------------------- IMD PAGE ------------------ */
.hey-guys {
  text-align: center;
  margin-top: 50px;
}

.hey-guys h1 {
  color: #000;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.hey-guys p {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.imd-banner img {
  width: 100%;
}
.scroll-disabler {
  width: 100vw;
  height: 450px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.0001);
}

::-webkit-scrollbar {
  display: none;
}

.wrapper {
  /* height: 420px; */
}
.wrapper {
  width: 420px;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #d4d4d4;
  margin: 0 10px;
}
iframe {
  width: 100% !important;
  border-radius: 10px 10px 0 0;
}

.imd-text-p p {
  width: 100%;
  /* word-wrap: break-word; */
  overflow-x: hidden;
  margin: 15px 20px;
  color: #545454;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.imd-text-p h3 {
  width: 100%;
  margin: 15px 20px;
  color: #000;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.call-btn {
  text-align: center;
  margin-top: 50px;
  border-radius: 70px;
  background: #fef200;
  padding: 10px 20px 0px 20px;
  width: 350px;
  color: red;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}
.call-btn-inner {
  display: flex;
  text-align: center;
}
.call-btn-inner p {
  color: #e32727;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
.call-btn-inner i {
  margin-top: -2px;
  font-size: 25px;
  margin-right: 15px;
  margin-left: 10px;
  font-weight: 900;
}

.wmd {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
  width: 300px;
  padding: 15px 0 10px 0;
  margin-bottom: 50px;
  position: relative;
}
.wmd-inner-inner {
  text-align: center;
  display: flex;
  justify-content: center;
}
.wmd-inner-inner h3 {
  color: #000;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.wmd p {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 141.176% */
}
.hashtag {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-bottom: 50px;
}
.hashtag p {
  color: #000;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.hashtag span {
  color: #fcdb2b;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.other-page-footer {
  padding-top: 35px !important;
}

.other-page-footer-inner p {
  color: #fff;
  font-family: Mulish;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 30px; /* 125% */
}
.other-page-footer-inner span {
  color: #fff;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.other-page-footer-form input[type="button"] {
  border-radius: 6px;
  border: 1px solid #aeb8e1;
  background: #5369c2;
  color: #fff;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.other-page-footer-form {
  margin-bottom: 100px;
}

.first-vector {
  position: absolute;
  margin-top: -50px;
}
.vector2 {
  margin-top: -246px;
  margin-left: 220px;
}
.star-vector {
  margin-top: -200px;
  margin-left: 100px;
  position: absolute;
}
.product-banner-text {
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 100%;
  margin-top: -400px;
  padding: 0 300px;
  z-index: 10;
}
.product-banner-text h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.product-banner-text span {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.product-banner img {
  max-width: 100%;
  width: 100%;
  z-index: 2;
}
.product-banner {
  position: relative;
  display: inline-block;
  width: 100%;
}
.product-banner::before {
  content: ""; /* Required for the pseudo-element to be generated */
  position: absolute; /* Position it absolutely within the container */
  top: 0;
  left: 0;
  width: 100%; /* Cover the entire container */
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the opacity by changing the last value (0.5 in this case) */
  z-index: 1; /* Place it above the image */
  opacity: 1; /* Initially make it fully transparent */
  transition: opacity 0.3s ease; /* Add a transition effect for opacity change */
}
/* -------------- PRODUCT SLIDER --------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.caroulsell {
  height: 100vh;
  /* display: grid; */
  place-items: center;
}

.caroulsell-list {
  position: relative;
  width: 100%;
  height: 45vh;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.caroulsell-item {
  position: absolute;
  width: 450px;
  height: 300px;
  background-size: cover;
  background-position: center;
  /* box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5); */
  transition: transform 500ms;
  cursor: pointer;
}

.caroulsell-item::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
}

.caroulsell-item:nth-of-type(1) {
  background-image: url(../img/premierulitimatecopy.png);
}
.caroulsell-item:nth-of-type(2) {
  background-image: url(../img/premierulitimateFAcopy.png);
}
.caroulsell-item:nth-of-type(3) {
  background-image: url(../img/PremierDefencecopy.png);
}
.caroulsell-item:nth-of-type(4) {
  background-image: url(../img/PremierSportcopy.png);
}

li[data-pos="0"] {
  z-index: 9;
}
li[data-pos="-1"],
li[data-pos="1"] {
  z-index: 6;
}
li[data-pos="-2"],
li[data-pos="2"] {
  z-index: 3;
}

li[data-pos="-1"] {
  transform: translateX(-50%) scale(0.9);
}
li[data-pos="1"] {
  transform: translateX(50%) scale(0.9);
}
li[data-pos="-2"] {
  transform: translateX(-90%) scale(0.8);
}
li[data-pos="2"] {
  transform: translateX(90%) scale(0.8);
}

li[data-pos="-1"]::after,
li[data-pos="1"]::after {
  background-color: rgba(0, 0, 0, 0.25);
}
li[data-pos="-2"]::after,
li[data-pos="2"]::after {
  background-color: rgba(0, 0, 0, 0.5);
}
.product-caroulsell {
  margin-top: -150px;
  height: 300px;
}
.blue-soap {
  background: #fff;
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  justify-content: center;
  margin: auto;
  padding: 30px 20px;
  border-radius: 10px;
  margin-top: 80px;
  margin-right: 100px;
}
.blue-soap-inner-inner {
  margin-top: -166px !important;
}
.blue-soap-inner h1 {
  color: #000;
  font-family: Mulish;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.blue-soap-inner p {
  color: #000;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.blue-soap-inner button {
  border-radius: 31.5px;
  background: #273e9b;
  color: #fff;
  font-weight: 400;
  margin-top: 30px;
  border-radius: 30px;
  border: none;
  padding: 15px 40px;

  /* margin-left: 50px; */
}
.blue-soap-inner {
  margin-right: 100px;
}
.blue-soap-inner img {
  width: 50%;
  margin-top: -45px;
  margin-right: -75px;
}

.black-soap {
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  justify-content: center;
  padding: 30px 20px 0 20px;
  border-radius: 10px;
  margin: auto;
  margin-left: 100px;
  margin-top: 50px;
}
.black-soap-inner img {
  /* margin-left: 30px; */
  margin-top: -53px;
}
.x-soap {
  margin-left: 50px;
  width: 800px;
  display: flex;
}
.soap-img {
  margin-top: 20px;
}
.y-soap {
  margin-top: 50px;
}
.z-soap {
  margin-bottom: 50px;
}

/* --------- MOBILE OPTIMIZATION -------------- */
.mobile-menu-btn button {
  background: transparent;
  border: none;
  font-size: 40px;
}
.mobile-search {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.mobile-search-form input[type="search"] {
  border: none;
  border-bottom: 1px solid #000;
  padding: 6px 15px;
  background: transparent;
}
.mobile-menu a {
  text-decoration: none;
  color: #000;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  transform: translateY(-20px); /* Move them up */
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.mobile-menu {
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  transition: right 0.7s ease-in-out;
}
.mobile-menu-off {
  display: none !important;
}
.contact-banner-text {
  margin-top: -190px !important;
}

.contact-channel {
  border-radius: 12px;
  background: #eef1ff;
  padding: 20px;
  margin: 30px 0;
}
.contact-channel h1 {
  color: #000;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.contact-channel p {
  color: #000;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}
.contact-channel button {
  border-radius: 28px;
  border: 1px solid #273e9b;
  background: rgba(182, 197, 255, 0.24);
  color: #273e9b;
  font-family: Mulish;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 10px;
}
.faq {
  margin-top: 70px;
  margin-bottom: 80px;
}
.faq-container {
  margin-top: 30px;
}
.faq-divider {
  border-bottom: 1px solid #d4d4d4;
  margin-top: 20px;
  margin-bottom: 30px;
}
.faq-content {
  border-radius: 12px;
  background: #f5f5f5;
  padding: 10px 25px;
  margin-bottom: 20px;
}
.faq-content-first-part h1 {
  color: #000;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.faq-content-first-part {
  display: flex;
  justify-content: space-between;
}
.faq-content-first-part img {
  width: 35px;
  cursor: pointer;
}
.faq-content-first-part button {
  background: none;
  border: none;
}
.faq-content-second-part p {
  color: #000;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 160% */
}
.faq-content-second-part {
  display: none;
}
.faq-header h1 {
  color: #000;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.faq-active {
  display: block;
}
.contact-channel button i {
  margin-right: 6px;
}
.about-us-text {
  margin-top: 80px;
  text-align: center;
}
.about-us-text h1 {
  color: #000;
  font-family: Mulish;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.aboutbanner img {
  margin-top: 15px;
  width: 100%;
  max-width: 100%;
}
.text-below-banner {
  text-align: center;
  margin: 50px 70px 0 70px;
}
.text-below-banner p {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.dedication-text h1 {
  color: #000;
  font-family: Mulish;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 50px;
}
.dedication-text p {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.about-img {
  margin-top: 50px;
}
.second-about-img {
  margin-top: 150px;
}
.second-about-img img {
  margin-left: 50px;
  width: 100%;
  max-width: 100%;
}
.about-slug {
  margin: 100px 0;
}
.about-slug h1 {
  color: #000;
  font-family: Mulish;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: -25px;
  margin-top: 15px;
}
.about-slug p {
  color: #000;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 50%;
  margin: 0 150px;
}
.for-everyone {
  display: flex;
  margin: 0 80px;
}
.premier-soap {
  text-align: center;
}
.journey {
  text-align: center;
  margin-top: 50px;
}
.journey h1 {
  color: #000;
  font-family: Mulish;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.journey p {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 70%;
  margin: auto;
  margin-top: 30px;
}
.journey img {
}
.last-about-text {
  text-align: center;
}
.last-last-about-text {
  text-align: center;
}
.last-about-text p {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}
.last-last-about-text p {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 70px;
}
.aboutbannermobile {
  display: none;
}
.blue-soap-inner-inner {
  margin-left: 50px;
  margin-top: -60px;
}
.safe img {
  margin-bottom: 15px;
}

.return-arrow {
  margin-top: 100px;
}
.return-arrow button {
  border: none;
  background: transparent;
}
.return-arrow button a {
  text-decoration: none;
  color: #000;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.return-arrow button a p {
  margin-left: 15px;
}
.return-arrow button a p i {
  font-size: 20px;
}
.soap-prev {
  border-radius: 12px;
  border: 1px solid #d4d4d4;
  background: #fff;
  padding: 50px 50px 20px 50px;
  margin-top: 20px;
  margin-bottom: 100px;
}
.soap-prev button {
  border: none;
  background: none;
  width: fit-content;
}
.soap-thumbnail img {
  border-radius: 12px;
  border: 1px solid #5369c2;
  background: #eef1ff;
  width: 100px;
  height: 80px;
  padding: 20px;
  margin-bottom: 50px;
}
.soap-thumbnail {
  display: flex;

  flex-direction: column;
}
.main-soap-prev-img {
  margin-top: 30px;
}
.soap-feature {
  display: flex;
  margin-bottom: 10px;
}
.soap-feature p {
  margin-top: 13px;
  margin-left: 15px;
  color: #000;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.soap-feature img {
  background: #eef1ff;
  padding: 10px 10px;
  border-radius: 100%;
  object-fit: cover;
  height: 50px;
}
.soap-details button {
  padding: 15px 15px;
  width: 100%;
  border-radius: 28px;
  background: #273e9b;
  border-radius: 25px;
  color: #fff;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 20px;
}
.soap-details h1 {
  color: #273e9b;
  font-family: Mulish;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.soap-details p {
  color: #000;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
@media screen and (max-width: 940px) {
  body {
    max-width: 100% !important;
    overflow-x: hidden !important;
  }

  .black-soap-inner img {
    margin-bottom: -20px !important;
    margin-left: -56px !important;
    margin-top: -31px !important;
  }
  .blue-soap-inner button {
    margin-top: 0;
    margin-bottom: 18px;
    border-radius: 30px;
    border: none;
  }
  .blue-soap-inner-inner {
    margin-top: 10px !important;
  }
  .blue-soap-inner img {
    width: 100% !important;
    margin-left: -40px;
  }
  .return-arrow {
    margin-top: 30px;
  }
  .soap-details h1 {
    color: #273e9b;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 15px;
  }
  .soap-details p {
    color: #000;
    text-align: left;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
  }
  .soap-details button {
    padding: 15px 15px;
    width: 100%;
    border-radius: 28px;
    background: #273e9b;
    border-radius: 25px;
    color: #000;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .soap-prev {
    border-radius: 12px;
    border: 1px solid #d4d4d4;
    background: #fff;
    padding: 20px 20px 20px 20px;
    margin-top: 20px;
    margin-bottom: 100px;
  }
  .soap-thumbnail {
    display: flex;
    flex-direction: row;
  }
  .soap-thumbnail img {
    border-radius: 12px;
    border: 1px solid #5369c2;
    background: #eef1ff;
    width: 85px;
    height: 80px;
    padding: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .blue-soap-inner-inner {
    margin-left: 0;
    margin-top: 0;
  }
  .aboutbanner {
    display: none;
  }
  .aboutbannermobile {
    display: block;
  }
  .aboutbannermobile img {
    width: 100%;
    max-width: 780px;
  }
  .text-below-banner {
    margin: 50px 10px;
  }
  .text-below-banner p {
    color: #000;
    text-align: center;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
  }
  .dedication-text h1 {
    color: #000;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .about-us-text {
    color: #000;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .second-about-img img {
    width: 93%;
  }
  .first-about-img img {
    width: 93%;
  }
  .about-slug {
    text-align: center;

    margin: 50px 10px;
  }
  .for-everyone {
    margin: 0 0;
    text-align: center;
    justify: center;
    margin: auto;
  }
  .for-everyone h1 {
    color: #000;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: -20px;
  }
  .for-everyone svg {
    width: 50px;
    margin-top: -20px;
    margin-left: 20px;
  }
  .about-slug p {
    color: #000;
    text-align: center;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
  }
  .journey h1 {
    color: #000;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .journey p {
    color: #000;
    text-align: center;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 138.462% */
    width: 90%;
    max-width: 100%;
    margin: 15px;
  }
  .journey img {
    margin: 10px 20px;
    width: 90%;
    margin-bottom: 50px;
  }
  .header-text {
    text-align: center;
    padding-top: 50px;
  }
  .last-about-text p {
    display: none;
  }
  .last-last-about-text p {
    display: none;
  }
  .second-about-img {
    margin-top: 30px;
  }
  .myNavbar {
    display: none;
  }
  .search {
    display: none;
  }
  .row {
    flex-direction: column !important;
  }
  .home-video iframe {
    max-width: 100% !important;
    margin-left: 0 !important;
  }
  .soapslide img {
    /* position: absolute; */
    margin-top: -80 !important;
    margin-left: 0;
    max-width: 100% !important;
  }
  .best-known {
    padding: 0;
    text-align: center;
    margin-top: 50px;
  }
  .img-silder {
    background: #000;
    color: #fff;
    padding: 0;
    height: 250px;
    margin-top: 50px;
  }
  .myCarousel img {
    max-width: 80%;
  }

  .header-text h1 {
    font-size: 20px;
  }

  .header-text p {
    font-size: 12px;
    line-height: normal;
  }
  .myCarousel img {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .mySlide button {
    display: none;
  }
  .mySlide {
    margin-top: 2px;
  }
  .content-section {
    margin-top: 100px;
    padding: 0 10px;
  }
  .content-section p {
    color: #000;
    text-align: center;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .content-section h1 {
    color: #000;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .qualities {
    padding: 0;
    flex-direction: row !important;
    padding: 0 0 0 20px;
  }
  .safe p {
    color: #000;
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .safe h1 {
    color: #000;
    text-align: center;
    font-family: Mulish;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .safe {
    height: 215px;
    text-align: center !important;
  }
  .col-sm-3 {
    margin-bottom: 20px;
  }
  .soapslide-text {
    margin-top: 0;
  }
  .soapslide-text h1 {
    color: #fff;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
  }
  .soapslide-text p {
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0 4px !important;
  }
  .soapslide-text button {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .soapslider-inner {
    /* display: flex; */
    justify-content: center;
    margin: auto;
  }
  .soapslide img {
    padding: 0 30px;
  }
  .unite-world {
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .unite-world h1 {
    color: #000;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 70px;
  }
  .unite-world p {
    color: #000;
    text-align: center;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
  }
  .home-video {
    max-width: 100%;
    padding: 0;
    border-radius: 0;
    margin-top: 30px;
  }
  .newsletter-inner {
    flex-direction: row !important;
    padding: 0;
  }
  .newsletter {
    padding: 20px 20px;
    margin-top: 50px;
  }
  .newsletter-text p {
    color: #000;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .newsletter-text span {
    color: #000;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .col-news-inner {
    max-width: 30% !important;
  }
  .newsletter-form input[type="email"] {
    width: 60% !important;
  }
  footer {
    padding: 20px;
  }
  .first-footer-sec {
    width: 100%;
  }
  .first-footer-sec p {
    color: #fff;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer {
    flex-direction: row !important;
    justify-content: center;
    margin: auto;
  }
  .footer-mobile h3 {
    color: #fff;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .footer-mobile p {
    color: #fff;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .footer-mobile {
    margin-top: 20px;
  }
  .footer-copy-row {
    display: flex;
    justify-content: center;
    margin: auto;
    display: flex;
  }
  .footer-copy-row .col-6 {
    width: 100% !important;
  }
  .footer-copyright .col:nth-child(1) {
    order: 2;
  }
  .footer-copyright .col:nth-child(2) {
    order: 1;
    margin-bottom: 30px;
  }
  .footer-copy-text p {
    color: #fff;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
  }

  .page-logo {
    float: center;
    justify-content: center;
  }
  .mobile-menu-close button {
    border: none;
    background: transparent;
    margin-top: 10px;
  }
  .mobile-menu-close button i {
    font-size: 25px;
    font-weight: 800;
  }
  .imd-banner {
    display: none;
  }
  .imd-banner-mobile {
    max-width: 100%;
    margin-top: 76px;
  }
  .imd-banner-mobile img {
    width: 780px;
  }
  .imd-container {
    flex-direction: column;
    padding: 20px;
    margin-top: 0 !important;
  }
  .hashtag {
    flex-direction: column;
  }
  .wrapper .img iframe {
    max-width: 100% !important;
  }
  .wrapper {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0;
    margin-bottom: 20px;
  }
  .other-page-footer-inner p {
    color: #fff;
    font-family: Mulish;
    font-size: 17px;
    font-style: normal;
    font-weight: 800;
    line-height: 30px; /* 176.471% */
  }
  .other-page-footer-inner span {
    color: #fff;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .other-footer-form {
    margin-bottom: -80px !important;
  }

  .hey-guys h1 {
    color: #000;
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .hey-guys p {
    color: #000;
    text-align: center;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .hey-guys {
    padding: 20px;
    margin-top: 20px;
  }
  .imd-text-p h3 {
    color: #000;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: fit-content;
  }
  .imd-text-p p {
    color: #545454;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: fit-content;
  }
  .product-caroulsell {
    display: none;
  }
  .product-banner {
    display: none;
  }
  .product-banner-mobile img {
    margin-top: 75px;
    max-width: 780px;
    width: 100%;
  }
  .product-banner-text h1 {
    color: #fff;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }
  .product-banner-text {
    margin-top: -200px;
    padding: 15px;
    z-index: 10;
  }
  .product-banner-text span {
    color: #fff;
    text-align: center;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .blue-soap-inner h1 {
    color: #000;
    font-family: Mulish;
    font-size: 15px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: -41px;
  }
  .blue-soap {
    padding: 30px 20px 0 20px;
  }
  .blue-soap-inner p {
    color: #000;
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .x-soap {
    flex-direction: column;
    margin-left: 0;
  }
  .x-soap img {
    width: 100%;
  }
  .blue-soap {
    width: 90%;
  }
  .blue-soap img {
    margin-bottom: 20px;
  }
  .black-soap {
    width: 90%;
    margin-left: 40px;
    display: flex;
  }
  .black-soap-inner img {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .blue-soap-inner:nth-child(2) {
    order: 1;
  }
  .blue-soap .x-soap img {
    order: 1;
  }

  .blue-soap .x-soap > div {
    order: 2;
  }
  .blue-soap-inner button {
    margin-left: 0;
  }
  .faq-container-row {
    justify-content: center;
    margin: auto;
  }
  .contact-channel {
    margin-bottom: 6px;
  }
  .contact-channel h1 {
    color: #000;
    font-family: Mulish;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .contact-channel p {
    color: #000;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
  }
  .contact-channel button {
    color: #273e9b;
    font-family: Mulish;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .contact-channel button i {
    margin-right: 3px;
  }
  .faq-row {
    justify-content: center;
    margin: auto;
  }
  .faq-header h1 {
    color: #000;
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .faq-content-first-part h1 {
    color: #000;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .faq-content-second-part p {
    color: #000;
    font-family: Mulish;
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
    line-height: 20px; /* 153.846% */
  }
  .soapslide img {
    /* position: absolute; */
    margin-top: -308px;
    /* margin-left: 100px; */
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .imd-banner-mobile {
    display: none;
  }
  .product-banner-mobile {
    display: none;
  }
  .hashtag {
    margin-top: 50px;
  }
  .newsletter-form {
    margin-top: -47px !important;
    margin-left: 200px !important;
  }
  .newsletter-form input[type="email"] {
    width: 60% !important;
  }
}
