* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Mulish", sans-serif;
  max-width: 100%;

  /* overflow-x: hidden; */
}
.search {
  display: flex;
}
.search input {
  border: none;
  background: transparent;
}
.search input::placeholder {
  color: #000;
}
.search i {
  margin-top: 3px;
  margin-right: 10px;
  margin-left: 30px;
}

.myNavbar a {
  text-decoration: none;
  margin: 0 30px;
  color: #000;
  font-weight: 400;
}
.myNavbar a.active {
  border-bottom: 3px solid #273e9b;
  padding: 0 5px;
  color: #273e9b;
  font-weight: 700;
}

.img-silder {
  background: #000;
  color: #fff;
  padding: 0 130px;
  height: 600px;
}
.header-text {
  text-align: center;
  padding-top: 50px;
}
.header-text h1 {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 49px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.header-text p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.myPrev {
  margin-left: -173px;
  margin-top: -59px;
}
.myNext {
  margin-right: -157px;
  margin-top: -50px;
}
.myCarousel img {
  /* height: 603px; */
  object-fit: cover;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
}
.mySlide {
  margin-top: 50px;
}
.content-section {
  margin-top: 230px;
  padding: 50px 50px 0 50px;
  text-align: center;
}

.content-section p {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
}
.best-known {
  padding: 100px 150px 20px 150px;
  text-align: center;
}

.best-known h1 {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 34px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.best-known p {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.safe {
  border-radius: 12px;
  border: 1px solid #bfbfbf;
  background: #fff;
  padding: 20px;
  text-align: center;
}
.safe h1 {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.safe p {
  color: #000;
  text-align: center;
  font-family: Mulish;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 150% */
}
.qualities {
  padding: 50px 100px;
}
.soapslider {
  background: #273e9b;
  padding: ;
}
.soapslide img {
  /* position: absolute; */
  margin-top: -265px;
  margin-left: 100px;
}
.soapslide-text {
  /* position: absolute; */
  margin-top: -265px;
  /* margin-left: 100px; */
}
.soapslide-text h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 34px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 30px;
  padding: 0 30px;
}
.soapslide-text p {
  color: #fff;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
  padding: 0 30px;
}
.soapslide-text button {
  background: #fff;
  color: #273e9b;
  text-align: center;
  font-family: Mulish;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 15px 20px;
  border-radius: 25px;
  border: none;
  margin-left: 30px;
}
.soapslider-inner {
  padding: 20px;
}
.soapslider-inner {
  display: none;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.soapslider-inner.active {
  display: flex;
  opacity: 1;
}
.dot-indicator {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #007bff;
}
.unite-world {
  margin-top: 100px;
  margin-bottom: 100px;
}
.col iframe {
  margin-left: 100px;
}
.unite-world h1 {
  color: #000;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.unite-world p {
  color: #000;
  font-family: Mulish;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}
.newsletter {
  background: #eef2ff;
  padding: 30px 100px;
  margin-bottom: 50px;
}
.newsletter-form input[type="email"] {
  border-radius: 6px;
  background: #fff;
  border: none;
  padding: 12px 30px;
  margin-top: 20px;
}
.newsletter-form input[type="button"] {
  border-radius: 6px;
  background: #273e9b;
  border: none;
  color: #fff;
  padding: 12px 20px;
  margin-left: 10px;
}
.newsletter-text p {
  color: #000;
  font-family: Mulish;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 136.364% */
}
.newsletter-text span {
  color: #000;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
footer {
  background: #273e9b;
  padding: 100px;
  color: #fff;
}
.footer-logo p {
  margin-top: 30px;
  color: #fff;
  font-family: Mulish;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
