body {
  font-family: "Mulish", sans-serif;
}
.search {
  display: flex;
}
.search input {
  border: none;
  background: transparent;
}
.search input::placeholder {
  color: #000;
}
.search i {
  margin-top: 3px;
  margin-right: 10px;
  margin-left: 30px;
}

.myNavbar a {
  text-decoration: none;
  padding: 0 30px;
  color: #000;
  font-weight: 400;
}
.myNavbar a.active {
  border-bottom: 3px solid #273e9b;
  padding: 0 5px;
  color: #273e9b;
  font-weight: 700;
}
